#headerr {    /* use # for id and . for class */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: blue;
    width : 100% ;
    height : 120px;

}
#current-time{
color: aliceblue;
display: inline-block
}

#time_d {
    color: aliceblue;
    display: inline-block;
    padding-left: 4%;
    width: 11%;


}


#title_div {
    padding-left: 15px;
    width: 25%;
    color: aliceblue;
display: inline-block;
}
#ttile {
    margin-top: 10px;
    color: aliceblue;
    padding-left: 15px;
    font-size: 25px;
    font: bold 
}
#title_info {
padding-left: 18px;

}

#space {
    padding-top: 120;
}